---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15ot24HxsS6mta1ygYAXiDYf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15ot24HxsS6mta1ygYAXiDYf",
          "created": 1428399008,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15ot24HxsS6mta1yP9rlWpjY",
              "object": "charge",
              "created": 1428399008,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15ot1RHxsS6mta1yZZCFcx4W",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "0SzLbc6aGvtC2dwm",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_60Yfj9J09lrHcS"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_60Yfj9J09lrHcS",
              "invoice": null,
              "description": "failed payment",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "myflix",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15ot24HxsS6mta1yP9rlWpjY/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_60urv4Q6oPxM9G",
          "api_version": "2015-02-18"
        }
  recorded_at: Tue, 07 Apr 2015 09:38:12 GMT
recorded_with: VCR 2.9.3
