---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15kCdKHxsS6mta1yAcNnwAiy",
          "livemode": false,
          "created": 1427282714,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15kCdKHxsS6mta1yqcFNiCns",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "a1801dj0RfTG9ojP",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "93.105.214.168"
        }
  recorded_at: Wed, 25 Mar 2015 11:25:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15kCdKHxsS6mta1yAcNnwAiy&description=valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15kCdLHxsS6mta1y8Zt751cs",
          "object": "charge",
          "created": 1427282715,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15kCdKHxsS6mta1yqcFNiCns",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "a1801dj0RfTG9ojP",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15kCdLHxsS6mta1yoRY3r6KL",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "valid charge",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15kCdLHxsS6mta1y8Zt751cs/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 25 Mar 2015 11:25:15 GMT
recorded_with: VCR 2.9.3
