---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15kWA4HxsS6mta1yc1IdslAc&description=MyFlix%20subscription%20-%20kim%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15kWA6HxsS6mta1yIr3KmN9N",
          "object": "charge",
          "created": 1427357782,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15kWA4HxsS6mta1yOS88pJtQ",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2017,
            "fingerprint": "a1801dj0RfTG9ojP",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15kWA6HxsS6mta1yM4MlbtDm",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "MyFlix subscription - kim@example.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15kWA6HxsS6mta1yIr3KmN9N/refunds",
            "data": []
          }
        }
  recorded_at: Thu, 26 Mar 2015 08:16:22 GMT
recorded_with: VCR 2.9.3
