---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15nQtoHxsS6mta1yYDjPoeD7&plan=base&email=kim%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428052538,
          "id": "cus_5zPjUKj1JWZb1r",
          "livemode": false,
          "description": null,
          "email": "kim@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5zPjUKj1JWZb1r/subscriptions",
            "data": [
              {
                "id": "sub_5zPjA2AE0yyLD1",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1428051024,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428052538,
                "status": "active",
                "customer": "cus_5zPjUKj1JWZb1r",
                "cancel_at_period_end": false,
                "current_period_start": 1428052538,
                "current_period_end": 1430644538,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5zPjUKj1JWZb1r/sources",
            "data": [
              {
                "id": "card_15nQtoHxsS6mta1y6lOIjnYM",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "a1801dj0RfTG9ojP",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5zPjUKj1JWZb1r"
              }
            ]
          },
          "default_source": "card_15nQtoHxsS6mta1y6lOIjnYM"
        }
  recorded_at: Fri, 03 Apr 2015 09:15:38 GMT
recorded_with: VCR 2.9.3
