---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15oVVlHxsS6mta1yQRxxkjqm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15oVVlHxsS6mta1yQRxxkjqm",
          "created": 1428308593,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15oVVlHxsS6mta1yEmoCEDC2",
              "object": "charge",
              "created": 1428308593,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15oVVeHxsS6mta1ymzvkaJjo",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "a1801dj0RfTG9ojP",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_60WY3HcLTnZ1Oa"
              },
              "captured": true,
              "balance_transaction": "txn_15oVVlHxsS6mta1yrHTNTRye",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_60WY3HcLTnZ1Oa",
              "invoice": "in_15oVVlHxsS6mta1yaHiiIkGu",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15oVVlHxsS6mta1yEmoCEDC2/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_60WYHq1A7ftiv2",
          "api_version": "2015-02-18"
        }
  recorded_at: Mon, 06 Apr 2015 09:01:31 GMT
recorded_with: VCR 2.9.3
