---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15nQlfHxsS6mta1yNRYxhzVo",
          "livemode": false,
          "created": 1428052031,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15nQlfHxsS6mta1yaympydke",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "h7CsqaShvobzAjgz",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "93.105.214.168"
        }
  recorded_at: Fri, 03 Apr 2015 09:07:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15nQlfHxsS6mta1yNRYxhzVo&plan=base&email=freeman.stiedemann%40hilpertebert.org
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 03 Apr 2015 09:07:13 GMT
recorded_with: VCR 2.9.3
