---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15oWIkHxsS6mta1y6yvnG7de",
          "livemode": false,
          "created": 1428311630,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15oWIkHxsS6mta1y9XyUZtlu",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "a1801dj0RfTG9ojP",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "93.105.214.168"
        }
  recorded_at: Mon, 06 Apr 2015 09:13:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15oWIkHxsS6mta1y6yvnG7de&plan=base&email=herta%40dibbert.net
    headers:
      Authorization:
      - Bearer sk_test_fby6HxZEhZ2Uj1roR0iqUCsL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428311631,
          "id": "cus_60XNQcPLDUjcvW",
          "livemode": false,
          "description": null,
          "email": "herta@dibbert.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_60XNQcPLDUjcvW/subscriptions",
            "data": [
              {
                "id": "sub_60XN8O062UVbRs",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1428051024,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428311631,
                "status": "active",
                "customer": "cus_60XNQcPLDUjcvW",
                "cancel_at_period_end": false,
                "current_period_start": 1428311631,
                "current_period_end": 1430903631,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_60XNQcPLDUjcvW/sources",
            "data": [
              {
                "id": "card_15oWIkHxsS6mta1y9XyUZtlu",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "a1801dj0RfTG9ojP",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_60XNQcPLDUjcvW"
              }
            ]
          },
          "default_source": "card_15oWIkHxsS6mta1y9XyUZtlu"
        }
  recorded_at: Mon, 06 Apr 2015 09:13:51 GMT
recorded_with: VCR 2.9.3
